<%- include("partials/header")-%>

    <div class="about">
        <p>I'm Sourav Gupta(or call me Savvy).</p>
        <p>Studies in Jorhat Engineering College.</p>
        <p>Interested in coding and cooking.</p>
    </div>

<%- include("partials/footer")-%>