<%- include("partials/header")-%>

    <div class="contact-info">
        <p>Email: <a href="mailto:souravgupta8068@gmail.com">souravgupta8068@gmail.com</a> </p>
        <p>Linkedin: <a href="https://www.linkedin.com/in/sourav-gupta-a42434245/">Click Here</a></p>
        <p>Github: <a href="https://github.com/imsourav19">Click Here</a></p>
    </div>

<%- include("partials/footer")-%>